// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@color1: #0C0032;
@color2: #190061;
@color3: #240090;
@color4: #3500D3;
@color5: #282828;

.mixin_flex {
    display: flex;
}

html, body {
    height: 100%;
    font-family: 'Source Code Pro', monospace;
}

.container {
    width: 100%;
    background: @color5;
    color: white;
    margin-bottom: 0;
}

header {
    .mixin_flex;
    justify-content: flex-end;
    
    .nav_top { 
        margin: 10px 10px;
        
        a {
            text-decoration: none;
            color: white;
            margin: 0 10px;
        }
    }
}

.main {
    margin: 0 1% 0 1%;
    .intro_section {
        .mixin_flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        background: @color2;
        padding: 2%;
        h1 {
            margin: 2%;
        }
        
        p {
            margin: 5px;
        }
    }
}

.skills {
    .mixin_flex;
    justify-content: space-evenly;
    
    .skills_section1 {
        background: @color3;
        width: 45%;
        margin: 3%;
        padding: 2%;
    }
    
    .skills_section2 {
        width: 45%;
        background: @color3;
        margin: 3%;
        font-size: 20px;
        padding: 2%;
    }
}

.work {
    .mixin_flex;
    justify-content: center;
    
    
    .work_section {
        justify-content: center;
        background: @color4;
        margin: 2.5%;
        width: 50%;
        padding: 1%;
    }
}

.contact {
    .mixin_flex;
    justify-content: center;
    margin: 10px;
    
    
    .contact_section {
        background: @color3;
        padding: 20px;
    }
    
}

footer {
    .mixin_flex;
    
    .footer {
        justify-content: center;
        margin: 2%;
        background: @color2;
        width: 35%;
    }   
}
    

.profile_img {
    height: 200px;
    width: 200px;
    background: @color2;
}
